<div class="sidebar-footer">
  <!-- User Info Section -->
  <div class="user-info" *ngIf="user">
    <div class="user-details">
      <div class="user-email">{{ getUserEmail() }}</div>
      <div class="account-type" [class.pro]="user.accountType === 'pro'">
        {{ getAccountTypeLabel() }}
      </div>
    </div>
  </div>

  <!-- Menu Items -->
  <div class="menu-item" data-testid="theme-toggle" (click)="toggleTheme()">
    <img class="menu-icon" src="assets/icons/light-mode-icon.svg" alt="Theme toggle">
    <span class="menu-text">{{ (theme$ | async) === 'light' ? 'Dark mode' : 'Light mode' }}</span>
  </div>
  
  <div class="menu-item">
    <img class="menu-icon" src="assets/icons/clear-icon.svg" alt="Clear conversations">
    <span class="menu-text">Clear conversations</span>
  </div>
  
  <div class="menu-item" data-testid="my-account-button" (click)="navigateToAccount()">
    <img class="menu-icon" src="assets/icons/account-icon.svg" alt="My account">
    <span class="menu-text">My account</span>
  </div>

  <div class="menu-item upgrade-item" *ngIf="user?.accountType === 'free'" (click)="upgradeToPro()">
    <img class="menu-icon" src="assets/icons/faq-icon.svg" alt="Upgrade to Pro">
    <span class="menu-text">✨ Upgrade to Pro</span>
  </div>
  
  <div class="menu-item">
    <img class="menu-icon" src="assets/icons/faq-icon.svg" alt="Updates & FAQ">
    <span class="menu-text">Updates & FAQ</span>
  </div>
  
  <div class="menu-item" data-testid="logout-button" (click)="logout()">
    <img class="menu-icon" src="assets/icons/logout-icon.svg" alt="Log out">
    <span class="menu-text">Log out</span>
  </div>
</div> 